<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the <%= title %> page</h1>

    </div>
  </main>
  <title>Alireza Haidari-COMP229</title>
  <style type="text/css">
  .auto-style1 {
    direction: ltr;
  }
  </style>
  </head>
  <body style="font-family:Verdana; background-color:DarkSalmon;">
  <div style="width:980px; margin-left:auto; margin-right:auto;">
  &nbsp;<header>
  
  <hr style="border-style:solid; border-color:olive; border-width:2px;">
  <h3><marquee>COMP229-Web Application Development - Fall 2021 </h3></marquee>
  <h4>Student Name: Alireza Haidari-Student id:301125827</h4>
  
  <hr style="border-style:solid; border-color:olive; border-width:2px;">
  
  <hr style="border-style:solid; border-color:olive; border-width:2px;">
  </header>
  <main>
  <p>Im student in the <b>Software Engineering</b> at Centennial college</p>
  
  <p>Previously I have completed high school at <b>SCAS</b></p>
  <style>
    a {
	text-decoration: none;
	color: #FF00FF;
}
  </style>
  
  
  <p>One of my favorite quotes is:</p>
  <blockquote>
  <i>If you do not believe in religion,Live freely"<i>
  <br>~Imam Hussian Peace be upon him~
  </blockquote>
  
  <p>Some of my favorite things to do are:</p>
  
  <ul>
  <li>Reading books</li>
  <li>Watching Movies</li>
  <li>Visiting Friends</li>
  <li>Traveling</li>
  <li>Playing Footbal</li>
  <li>Going to the gym</li>
  </ul>
  

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>
