
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the <%= title %> page</h1>

    </div>
  </main>
 </head>

<body>
<div id="allPage">

<table style="width: 100%">
	<tr>
		<td>
		<img alt="Telus logo" height="53" src="/assests/images/logo%20(2).gif" width="205"></td>
		<td id="contact" class="auto-style6"><span lang="en-us">
		<a href="mailto:ahaidar7@my.centennialcollege.ca">contact us</a></span></td>
		<div class="city">		
		
	</tr>
	<tr>
		<td><span lang="en-us">
		<a href="https://mysso.centennialcollege.ca/authenticationendpoint/login.do?commonAuthCallerPath=%2Fsamlsso&amp;forceAuth=false&amp;passiveAuth=false&amp;tenantDomain=carbon.super&amp;sessionDataKey=5c67edc2-f353-4b75-887c-63b3c97129bc&amp;relyingParty=myprd_portal&amp;type=samlsso&amp;sp=myprd_portal&amp;isSaaSApp=false&amp;authenticators=BasicAuthenticator:LOCAL">
		my centennial</a><br><a href="https://www.centennialcollege.ca/">
		Centennial College</a><br>
		<a href="https://www.target.com/s/purses+and+hand+bags?ref=tgt_adv_XS000000&amp;AFID=msn&amp;fndsrc=tgtao&amp;DFA=71700000012532919&amp;CPNG=Accessories_Tote%2BPurse&amp;adgroup=Purse_Hand&amp;LID=700000001174817&amp;LNM=purses+and+hand+bags&amp;MT=p&amp;network=o&amp;device=c&amp;location=5254&amp;targetid=kwd-24491590245:loc-32&amp;ds_rl=1246978&amp;ds_rl=1241788&amp;ds_rl=1248099&amp;msclkid=d2725ba2c092165060ba042d4eeccb1a&amp;gclid=d2725ba2c092165060ba042d4eeccb1a&amp;gclsrc=3p.ds">
		Telus</a></span><br><span lang="en-us"><a href="../Index.html">back to 
		index</a></span><br><br><span lang="en-us">
		<a href="https://www.shopstyle.ca/browse/handbags/balmain?gclid=CPbhi5-gxOwCFTUHiAkdpMMN4Q&amp;gclsrc=ds&amp;msclkid=579130c828241ae4c5e26f4740fde1bd&amp;utm_campaign=Balmain&amp;utm_content=&amp;utm_id=t_kwd-74217157703346:loc-32&amp;utm_medium=PPC&amp;utm_source=bing&amp;utm_term=+balmain++purse">
		please see more details</a></span><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
		<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
		<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
		<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
		<br><br><br><br><br><br><br><br><br><br><br><br><br></td>
		<td>

		<table id="purse">
	<tr>
		<th>
		<h4><span lang="en-us">Picture</span></h4>
		</th>
		<th>
		<h4><span lang="en-us">Features and price</span></h4>
		</th>
	</tr>
	<tr>
		<td>
		<img alt="img_1.gif" height="480" src="/assests/images/img_1.gif" width="320"></td>
		<td>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<ul>
			<li><span lang="en-us">Susan Medium </span></li>
			<li><span lang="en-us">Quilted Leather</span></li>
			<li><span lang="en-us">Satchel</span></li>
			<li><span lang="en-us">Michael Kors</span></li>
			<li><span lang="en-us">$378.00</span></li>
		</ul>
		</td>
	</tr>
	<tr>
		<td>
		<img alt="img_2" height="480" src="/assests/images/img_2.gif" width="320"></td>
		<td>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<ul>
			<li><span lang="en-us">Black Quilted Leather B-Buzz 23 Bag</span></li>
			<li><span lang="en-us">Balmain</span></li>
			<li><span lang="en-us">$2,395.00</span></li>
		</ul>
		</td>
	</tr>
	<tr>
		<td>
		<img alt="img_3" height="480" src="/assests/images/img_3.gif" width="320"></td>
		<td>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<ul>
			<li><span lang="en-us">Hutton Belt Bag with Quilting</span></li>
			<li><span lang="en-us">Coach</span></li>
			<li><span lang="en-us">$325.00</span></li>
		</ul>
		</td>
	</tr>
	<tr>
		<td>
		<img alt="img_4" height="480" src="/assests/images/Img_4.gif" width="320"></td>
		<td>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<ul>
			<li><span lang="en-us">Glam Slam Plush</span></li>
			<li><span lang="en-us">Leather Clutch</span></li>
			<li><span lang="en-us">Maison Margiela</span></li>
			<li><span lang="en-us">$1,445.00</span></li>
		</ul>
		</td>
	</tr>
	<tr>
		<td colspan="2" class="auto-style10">
		<map id="ImgMap0" name="ImgMap0">
			<area title="Ontario" alt="" coords="259, 264, 278, 272, 294, 272, 313, 301, 328, 342, 362, 350, 315, 392, 321, 353, 297, 353, 274, 333, 258, 345, 229, 336, 229, 304" href="https://www.target.com/s/bag+paris+purse?ref=tgt_adv_XS000000&amp;AFID=msn&amp;fndsrc=tgtao&amp;DFA=71700000012532919&amp;CPNG=Accessories_Tote%2BPurse&amp;adgroup=Purse_Bag&amp;LID=700000001174817&amp;LNM=%2Bbag+%2Bparis+%2Bpurse&amp;MT=p&amp;network=o&amp;device=c&amp;location=5254&amp;targetid=kwd-72067057871:loc-32&amp;ds_rl=1246978&amp;ds_rl=1241788&amp;ds_rl=1248099&amp;msclkid=5242610b91471e78dc223e8410da6aa4&amp;gclid=5242610b91471e78dc223e8410da6aa4&amp;gclsrc=3p.ds" shape="poly">
			<area title="Quebec" alt="" coords="297, 202, 338, 201, 354, 219, 364, 209, 388, 237, 373, 253, 396, 271, 432, 246, 427, 266, 408, 302, 382, 338, 365, 348, 333, 335, 320, 300, 313, 276, 309, 240, 301, 204, 307, 202, 301, 204" href="https://www.eileenfisher.com/shoes-accessories/shoes-accessories/bags?gclid=EAIaIQobChMI0MDb8rfE7AIVTMDICh0etQB-EAAYAyAAEgJm2fD_BwE&amp;country=CA&amp;currency=CAD" shape="poly">
		</map> <span lang="en-us">This products can be found Ontatio and Qubec<br>
		</span><br>&nbsp;<img alt="map of canada" height="408" src="/assests/images/map-canada-provinces.jpg" usemap="#ImgMap0" width="488"></td>
	</tr>
	</table>

		</td>
	</tr>
	<tr>
		<td id="copyright" colspan="2" class="auto-style10"><span lang="en-us">&copy;&nbsp;Copyright Alireza Haidari 
		-Assignment03 -COMP213</span></td>
	</tr>
</table>
</div>
</body>

</html>
<!DOCTYPE html>
<!--Created by: Fatema Khatun  student number:301062124. - Created on: feb 25,2020-->
<html>
	<head>

			<link href="style.css" rel="stylesheet" type="text/css">
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <title> Jeep Renegade 2020</title>
        <style type="text/css">
        .auto-style [
        	text-align: left;
        }
        .auto-style2 {
			text-align: left;
		}
        .auto-style6 {
			text-align: left;
		}
        .auto-style10 {
			text-align: center;
		}
		</style>
      </head>

       <body>

       </body>

        </html>

<!DOCTYPE html>
<!--Created by Alireza Haidari -Created on Oct07,2020-->
<html lang="eng">

<head>
<meta content="en-us" http-equiv="Content-Language">
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<title>week05 class example</title>
<meta content="html table,COMP213" name="keywords">
<meta content="using html tables" name="description">

</head>

<body>
  <style>

    body {
	background-color: lavender;
	font-family: Arial, Helvetica, sans-serif;
	color: gray;
}
ul {
	list-style-image: url('img assin3/aball.gif');
}
td {
	vertical-align: top;
}
#contact {
	vertical-align: bottom;
	text-align: right;
}
a {
	text-decoration: none;
	color: #FF00FF;
}
a:hover {
	background-color: #00FF00;
}
th {
	color: #660066;
}
#purse {
	border: medium dotted #FF00FF;
}
#copyright {
	color: #660066;
	font-size: x-small;
	background-color: #00FF00;
}
#allPage {
	width: 980px;
	margin-right: auto;
	margin-left: auto;
}

    </style>
<div id="allpage">

<table id="phones">
	<tr>
		<td id="copyright">&nbsp;</td>
	</tr>
</table>
</div>
</body>

</html>







<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>