<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the <%= title %> page</h1>
      <body style="font-family:Verdana; background-color:DarkSalmon;">
        <div style="width:980px; margin-left:auto; margin-right:auto;">
        &nbsp;<header>

    </div>
    <div>
      <p>Some of my services:</p>
  
  <ul>
  <li>Web Developing</li>
  <li>Programming : c# , Java , c++</li>
  <li>Html</li>
  <li>css</li>
  <li>Java Script</li>
  </ul>
    </div>
  </main>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>
